@model Appointment.ViewModel.Models.ReportsViewModel

@{
    ViewBag.Title = "Reminder Report";
}

<h2>Reminder Report</h2>
<hr />

<div>
    @using (Html.BeginForm("ReminderReport", "Reports", FormMethod.Post))
    {
    @Html.AntiForgeryToken()

   
    <div class="form-horizontal">
        <div class="row mb-5">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", maxLength = "50" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @value = "{0:dd/MM/yyyy}" } })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @value = "{0:dd/MM/yyyy}" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Run report" class="btn btn-primary" />
        </div>
    </div>
    }
</div>
<script>
    $(document).ready(function () {

        $("#StartDate").kendoDatePicker({
            format: "dd/MM/yyyy",
        });

        $("#EndDate").kendoDatePicker({
            format: "dd/MM/yyyy",
        });

        var start = $("#StartDate").kendoDatePicker({
            format: "dd/MM/yyyy"
        }).data("kendoDatePicker");

        var end = $("#EndDate").kendoDatePicker({
            format: "dd/MM/yyyy"
        }).data("kendoDatePicker");


        $("#StartDate").change(function () {
            debugger;
            var stratDate = $("#StartDate").val();
            end.min(stratDate);
        })
    });


</script>
<hr />