@model Appointment.ViewModel.Models.EmployeesGroupsViewModel

@{
    ViewBag.Title = "Details";
}

<style>
      #tital {
        padding-bottom: 21px;
        padding-top: 60px;
    }
</style>
<div class="container">
    <h2 id="tital">Group Details</h2>
    <hr />


    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Group Name")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <br />
            <dt>
                @Html.DisplayName("Employees")
            </dt>

            <dd>
                @foreach (var em in Model.Employeelist)
            {

                    <p>@Html.DisplayFor(model => em.Name) , </p>

                }
            </dd>
            <br />
        </dl>
        <div style="clear: both;"> </div>
            <div class="text-center m-5">
                @*<input type="submit" value="Delete" class="btn btn-default" />*@
                <input type="button" value="Back" class="btn btn-primary" onclick="location.href='@Url.Action("Groups", "Groups")'" />


            </div>
    </div>
</div>
<style>
    p {
        display: inline;
    }
</style>